<!----- Footer ----->
<footer class="footer-wrapper">
    <div class="footer">
        <div class="footer-linkbar">
            <div class="footer-linkdiv"><a href="/" class="footer-logo">Gen Z Knowledge</a></div>
            <div class="footer-linkdivwrapper">
                <div class="footer-linkdiv"><a href="/blog/category/News" class="footer-link">News</a></div>
                <div class="footer-linkdiv"><a href="/books" class="footer-link">Library</a></div>
                <div class="footer-linkdiv"><a href="/courses" class="footer-link">Courses</a></div>
                <div class="footer-linkdiv"><a href="/blog" class="footer-link">Blog</a></div>
                <div class="footer-linkdiv"><a href="/about" class="footer-link">About</a></div>
                <div class="footer-linkdiv"><a href="/contact" class="footer-link">Contact Us</a></div>
                <div class="footer-linkdiv"><a href="/profile" class="footer-link">My Profile</a></div>
                <div class="footer-linkdiv footer-linkdivspecial"><a href="/register" class="footer-link">Register as a tutor</a></div>
                <div class="footer-linkdiv footer-linkdivspecial"><a href="/login" class="footer-link">Login</a></div>
            </div>
        </div>
        <div class="footer-copyrightbar"><p>&copy; 2025 Gen Z Knowledge</p></div>
    </div>
</footer>