<!DOCTYPE html>
<html lang="en">

<!--
    Coded with passion by "Pakodev"
    Email at:   pakodev.info@gmail.com
    Or message me on X (twitter):   https://x.com/dev_pakodev
-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Site Icon -->
    <link rel="icon" type="image/x-icon" href="Images/site-icon.jpg">

    <!-- Author -->
    <meta name="author" content="Pakodev | pakodev.info@gmail.com">
    
    <!-- Title -->
    <title>About Gen Z Knowledge</title>
    <meta name="description" content="A platform of vast knowledge. Offering courses, has a digital library, and a fruitful blog.">
    <meta name="keywords" content="College, Library, Courses, Blog, DigitalLibrary, Books, OnlineCourses, Articles, Technology, News, History, Medical, Philosophy, Startups, Academia, Knowledge, Mathematics, Mobiles, Computers, Gaming, Language, Programming, Computation, Designing, Business, Money, Innovations, Media, Cinema, App Launch, Hardware, ArtificialIntelligence, AI, ML, LLMs, Universities, Colleges, Schools, Past, Present, Future, Wisdom, Values">

    <!-- Style Sheets -->
    <link rel="stylesheet" href="Styles/globals.css">
    <link rel="stylesheet" href="Styles/header.css">
    <link rel="stylesheet" href="Styles/footer.css">
    <link rel="stylesheet" href="Styles/index.css">
    <link rel="stylesheet" href="Styles/about.css">

    <!-- JavaScripts -->
    <script defer src="Scripts/topNavToggle.js"></script>
    <script defer src="Scripts/themeToggle.js"></script>

</head>
<body>

    <!-- Header -->
    <%- include('_header') %>

    <!-- Main -->
    <main class="main">
        <section class="about-sec section">
            <h1 class="h1">Gen Z Knowledge</h1>
            <div class="about-textdiv"><p class="about-text">Welcome to Gen Z Knowledge, the ultimate platform for learning, sharing, and growing in the digital age. We believe in democratizing education by providing free access to high-quality courses, an extensive digital library, and a dynamic blog where knowledge seekers and creators can thrive. Whether you're a student eager to learn new skills or an expert looking to share insights, Gen Z Knowledge is your gateway to endless learning opportunities.<br><br>At Gen Z Knowledge, anyone can sign up for free and start exploring our diverse range of courses, covering everything from tech and business to arts and personal development. Our digital library is packed with valuable resources, giving learners access to books, research materials, and guides to enhance their education.<br><br>Beyond learning, we empower our community to become creators. Educators and professionals can offer courses to students worldwide, while passionate writers and experts can publish insightful articles on our blog. By fostering a culture of knowledge-sharing, we aim to create a collaborative space where learning is not just consumed but also contributed to.<br><br>Join Gen Z Knowledge today and be part of a growing community that believes in open learning, meaningful discussions, and the power of shared wisdom. The future of education starts here!</p></div>
        </section>
    </main>

    <!-- Footer -->
    <%- include('_footer') %>

</body>
</html>