<!DOCTYPE html>
<html lang="en">

<!--
    Coded with passion by "Pakodev"
    Email at:   pakodev.info@gmail.com
    Or message me on X (twitter):   https://x.com/dev_pakodev
-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Site Icon -->
    <link rel="icon" type="image/x-icon" href="Images/site-icon.jpg">

    <!-- Author -->
    <meta name="author" content="Pakodev | pakodev.info@gmail.com">
    
    <!-- Title -->
    <title>About Gen Z Knowledge</title>
    <meta name="description" content="A platform of vast knowledge. Offering courses, has a digital library, and a fruitful blog.">
    <meta name="keywords" content="College, Library, Courses, Blog, DigitalLibrary, Books, OnlineCourses, Articles, Technology, News, History, Medical, Philosophy, Startups, Academia, Knowledge, Mathematics, Mobiles, Computers, Gaming, Language, Programming, Computation, Designing, Business, Money, Innovations, Media, Cinema, App Launch, Hardware, ArtificialIntelligence, AI, ML, LLMs, Universities, Colleges, Schools, Past, Present, Future, Wisdom, Values">

    <!-- Style Sheets -->
    <link rel="stylesheet" href="Styles/globals.css">
    <link rel="stylesheet" href="Styles/header.css">
    <link rel="stylesheet" href="Styles/footer.css">
    <link rel="stylesheet" href="Styles/index.css">
    <link rel="stylesheet" href="Styles/about.css">

    <!-- JavaScripts -->
    <script defer src="Scripts/topNavToggle.js"></script>
    <script defer src="Scripts/themeToggle.js"></script>

</head>
<body>

    <!-- Header -->
    <%- include('_header') %>

    <!-- Main -->
    <main class="main">
        <section class="about-sec section">
            <h1 class="h1">Gen Z Knowledge</h1>
            <div class="about-textdiv"><p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quasi vel ad est placeat, iste minima eligendi a esse! Modi facere repellendus ratione, perferendis neque sit suscipit dolorum! Porro id nam ullam quasi expedita obcaecati excepturi aperiam nobis quam! Doloribus veniam voluptate magni ex deserunt illum voluptatum id magnam. Nulla, saepe distinctio! Quos eligendi eaque repellat nemo incidunt quas veritatis, ipsa iste fugiat atque nulla autem, adipisci porro blanditiis placeat sit necessitatibus suscipit ad at, harum aperiam quo ab officiis voluptate. Sapiente possimus deserunt temporibus cum numquam iusto voluptas, voluptates officia mollitia fuga cumque facere et laborum ab nemo recusandae. <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora porro iure expedita quas asperiores quia, quam aliquid rerum consequuntur odio ratione rem tempore reprehenderit libero illo. Quis quas dolore et unde veniam sit fugit ad itaque quidem temporibus voluptate, ducimus mollitia voluptas rem deleniti minima laboriosam ab sapiente id ex error, aspernatur, sed quam! Nisi odio dolore consequuntur ducimus voluptas excepturi delectus cumque. Mollitia porro et similique suscipit maiores eveniet?<br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo assumenda optio odio odit distinctio voluptates voluptatum accusantium unde perferendis! Quidem qui dolore deserunt consequatur laborum totam incidunt illo et ea dolorem aperiam impedit quisquam sunt, explicabo tempore dignissimos, quaerat eligendi numquam. Soluta, consequatur quisquam accusamus accusantium facilis dolor necessitatibus laudantium.</p></div>
        </section>
    </main>

    <!-- Footer -->
    <%- include('_footer') %>

</body>
</html>